.not-found-container{
    height: 100%;
    float: left;
    text-align: center;
    width: 100%;
    font-size: 5rem;
    padding-top: 50%;
    transform: translateY(-50%);

    .back-dashboard{
        font-size: 1rem;
        text-decoration:underline
    }
}